#tags{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 1vw;
    
}
section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 3vw;
    background-color:rgb(174, 201, 235);
}
#table-section{
    display:block;
}
table{
    border-width: 1px;
    border-style: outset;
}
th{
    border-width: 1px;
    border-style: outset;
    color:rgb(27, 52, 98);
}
#table-logo{
    color:rgb(27, 52, 98); 
}
td{
    color: white;
    border-width: 1px;
    border-style: outset;
}
.form-buttons{
    display:flex;
    flex-direction: row;
    justify-content: center;
}